{% extends 'layouts/main.html' %}
{% block title %}Overall Summary{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Overall Summary</h1>
</div>
<p style="text-align:center;"> <div><img src="../../static/css/Seattle-Boeing-HeroB.jpg" class = "center"></div> </p>
  <h2>Project Purpose:</Project>
<p class="lead">This project seeks to apply Autoregressive Integrated Moving Average (ARIMA), Gradient Boosting Regression (GBR), and Recurrent Neural Network (RNN) models
   to generate a trading strategy that can yield returns over a 3 month period greater than a simple
    'buy and hold' strategy for 3 months.

    Disclaimer - this project is entirely intended for research purposes and applying 
    the algorithms and/or trading strategies outlined below is no 
    guarantee of positive returns </p>

  <h2>Key Features in the Data:</h2>
  <p class="lead">A combination of stock technical indicator and basic stock metrics were used as features in the the GBR and RNN model.
    <h3>Technical Indicators:</h3> 
    <li>Moving Average Convergence Divergence (MACD)</li>
    <li>Rate of Change (ROC)</li>
    <li>Price Oscillator (PPO)</li> 

    <h3>Basic Stock metrics:</h3>
    <li>Open and Close</li> 
    <li>High and Low</li> 
    <li>Volume</li>

  <h2>Evaluation:</h2>
  <p class="lead">Root Mean Square Error (RMSE) along with the following trading strategy based on a model's predicted Daily High and Low stock price
     were used to determine the optimal model.

     <h3>Trading Strategy</h3>
    <ol>Buy each day at the Predicted Daily Low. If the Predicted Daily Low is never reached, do NOT buy at all. </ol>
    <ol>Sell each day at the Predicted Daily High. If the Predicted Daily High is NOT reached, sell at the daily closing price.</ol>  
    
  <h2>Overall Findings</h2>
  <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with 
  this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

{% endblock %}
